/******** THEME COLOR fOR DARK MODE***********/
/*  1]  #fa4753 2] #17181c 3] #ffffff 4] #9BA5c9   */
/* - SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

html--> fontsize--> 0.625%; */

/* for dark mode 
/* body : #0d1117
/* body2: #21262d
/* header : #161b22
/* text2 : #bdd1d9
/* logo and nav : #ffffff
/*==============  GLOBAL DESIGN HERE!============================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body: #e4e9f7;
  --body02: #e9eef2;
  --body03: #cdd2de;
  --sidebar: #cdd2ded2;
  --button: #326789;
  --button2: #e65c4f;
  --text1: #222;
  --text2: #e9eef2;
  --text3: #f8f8f8;
  --text4: #326789;
  --fontColor1: #222;
  --fontColor2: #333;

  --trans-01: all 0.3s ease-in-out;
  --trans-02: all 0.4s ease-in;
  --trans-03: all 0.5s ease-in-out;
  --trans-04: all 0.6s ease;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}

body {
  width: 96%;
  margin: 1rem auto;
  background-color: #000;
  overflow-x: hidden;
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.openMenu,
.closeMenu {
  display: none;
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--button);
  display: none;
}

.hidden {
  display: none;
}
.dark {
  color: var(--button);
}
.light {
  color: #f7f7f7;
}

/******************* COMMON PROPERTIES ***************/

.nav-lists,
.navbar,
.nav,
.hero-left,
.hero-right,
.donors,
.footer-left,
.footer-right,
.donor,
.required,
.remaining,
.featured-left,
.featured-right,
.contact,
.content,
.container-contact,
.icon,
.sidebtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*********************** MAIN BODY ************************/

.navbar {
  width: 100%;
  padding: 1rem 4rem;
  background-color: var(--body02);
  position: sticky;
}
.nav {
  width: 100%;
}
.sidebtn {
  gap: 2rem;
  justify-content: center;
}
.dark_mode {
  font-size: 2.8rem;
  text-align: end;
  transition: var(--trans-01);
}
.dark:hover {
  color: var(--button);
  cursor: pointer;
}
.light:hover {
  color: #f6f6f6;
  cursor: pointer;
}
.logo-text {
  font-size: 3.2rem;
  font-weight: 600;
}

.logo,
.logo-btn {
  color: var(--button2);
}

.nav-lists {
  list-style: none;
  font-size: 1.6rem;
  gap: 3.2rem;
}
.list,
.list-footer {
  text-decoration: none;
  color: var(--text1);
  padding-left: 1.6rem;
  position: relative;
  text-transform: uppercase;
}
.list::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 50%;
  transform: translateX(-36%);
  bottom: -4px;
  background-color: var(--button2);
  transition: var(--trans-02);
}

.list:hover {
  font-weight: 500;
}

.list:hover:before {
  width: 100%;
}

.btn {
  width: 10rem;
  background-color: var(--button);
  border-radius: 1.6rem;
  padding: 0.8rem 1.6rem;
}
.btn:hover {
  background-color: #31576f;
  transform: var(--trans-02);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.donate {
  font-size: 1.6rem;
  color: var(--text2);
  text-decoration: none;
  text-transform: capitalize;
}

/******************* HERO SECTION ********************/

.hero {
  margin-top: 1rem;
  padding: 6rem 4rem;
  background-color: var(--body);
}
.hero-main {
  display: flex;
  gap: 1rem;
  background-color: var(--body02);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.hero-left,
.hero-right {
  width: 50%;
  margin: 6rem 4rem;
  justify-content: center;
}
.hero-right {
  background-color: var(--body03);
  margin: 0rem;
  padding: 7.2rem 6rem;
}

.filter {
  filter: brightness(100%) contrast(110%);
}

.hero-head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
}

.text {
  font-size: 3.2rem;
  line-height: 4rem;
  margin-bottom: 2rem;
  font-weight: 600;
  word-spacing: 0.2rem;
}

.text,
.text2 {
  letter-spacing: 1;
  word-spacing: 6;
}

.text2 {
  width: 60%;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 3.6rem;
  letter-spacing: 1.4;
  word-spacing: 6.4;
}
#speChar {
  font-size: 4.8rem;
  color: var(--button2);
}

.buttons {
  display: flex;
  gap: 2rem;
}

.btn2,
.btn {
  display: flex;
  font-size: 1.8rem;
  width: 18rem;
  justify-content: center;
  letter-spacing: 2.4;
}

.btn3 {
  background-color: var(--body02);
  border: 1px solid rgb(182, 182, 182);
}
.share {
  color: #222;
}

.donatebtn2 {
  align-content: center;
}
.logo-btn {
  font-size: 1.8rem;
}

.opacity {
  opacity: 0.4;
}
.share-logo {
  color: var(--text4);
}

.btn3:hover {
  background-color: var(--body);
  border: 1px solid #a0a3ad;
}
/************************ DONATION **************************/
.donation {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 6rem;
  background-color: var(--body02);
  color: var(--button);
  padding: 4.8rem;
  margin-top: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.donors {
  justify-content: space-around;
  gap: 4rem;
}

.donor,
.required,
.remaining {
  justify-content: center;
  gap: 1rem;
}

.donors-text {
  width: 60%;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.text-donor {
  background-color: var(--button2);
  color: var(--body);
}
.text-required {
  background-color: var(--body03);
}
.text-remaining {
  background-color: var(--sidebar);
  color: var(--body);
}

.span1,
.span2,
.span3 {
  font-size: 1.1rem;
  font-weight: 400;
  border-radius: 1rem;
  padding: 1rem 2rem;
  border: 1px solid #31576f;
  color: #222;
}

/*************************** DONATION ***************************/
.featured {
  display: flex;
  background-color: var(--body03);
  margin-top: 0.2rem;
  padding: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.featured-left,
.featured-right {
  width: 50%;
  justify-content: center;
  align-content: stretch;
  gap: 2rem;
  padding: 7.2rem 6rem;
  /* padding: 2rem; */
}
.featured-right {
  background-color: var(--body02);
}

.about-text {
  text-align: left;
  letter-spacing: 1.4;
  word-spacing: 6.4;
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin-bottom: 2rem;
}

.about-head3 {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

/*************************** FOOTER *****************************/

.footer {
  display: flex;
  margin-top: 0.2rem;
  height: 200px;
  background-color: var(--body03);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.footer-left,
.footer-right {
  width: 50%;
  align-items: flex-start;
  margin: auto 6rem;
  padding: 1.6rem;
}

.logo-text-footer {
  font-size: 2rem;
  opacity: 0.9;
}

.head {
  font-size: 1.6rem;
}

.list-footer-home,
.list-footer-contact,
.contact-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.list-footer-contact {
  flex-direction: row;
  gap: 2rem;
}

.contact-list {
  gap: 1.2rem;
}
.list-footer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 1.4rem;
  line-height: 1.4;
  padding: 0rem;
  opacity: 0.9;
}
.list-footer:hover {
  font-weight: 400;
}
.email,
.phone {
  font-size: 1.4rem;
  color: var(--button);
}
.footer-right {
  justify-content: center;
}
.copyright {
  width: 80%;
}

.author {
  color: var(--button);
}

/* ********************** SLIDER ****************/

.slider {
  margin-top: 0.2rem;
  padding: 7.2rem 1rem;
  background-color: var(--body03);
}
.slider-container {
  display: flex;
  flex-direction: column;
}
.tagName {
  display: flex;
  padding: 0rem 6rem;
}
.prev,
.next {
  cursor: pointer;
  padding: 1.4rem;
  color: var(--button);
  font-weight: bold;
  font-size: 2.4rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.backGround {
  background-color: var(--body);
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: var(--body);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--body);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: var(--button);
}

/* .dot:hover {
  background-color: #717171;
} */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* ********************** ABOUT ****************/
.section-container {
  width: 100%;
}
.container,
.contact {
  width: 80%;
  display: block;
  margin: 1.6rem auto;
  padding: 6rem 0rem 0rem 0rem;
}
.tittle {
  width: 100%;
  /* text-align: center; */
  margin-bottom: 3rem;
}
.tittle h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--button);
}
.content {
  float: left;
  width: 90%;
}
.image-section {
  float: right;
  width: 40%;
}
.image-section img {
  width: 80%;
  height: auto;
  float: right;
}

.logo-contact {
  color: var(--button);
  margin-bottom: 2.8rem;
}
.button {
  margin-top: 3.2rem;
}
.btn-contact a {
  text-decoration: none;
  background-color: var(--button);
  font-weight: 500;
  color: var(--body03);
}
.button a:hover {
  color: #fff;
  background-color: #d9181f;
  transition: 1s ease;
}
.social {
  width: 100%;
  clear: both;
  margin-top: 3.2rem;
  text-align: center;
}
.social i {
  color: var(--text1);
  font-size: 22px;
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  line-height: 2.8rem;
  text-align: center;
  background-color: var(--body03);
  margin: 0rem 0.8rem;
}
.social i:hover {
  color: #222;
  background-color: var(--button);
  transition: 1s ease;
  transform: rotate(360deg);
}

.aboutus {
  display: block;
}

.contactus {
  display: none;
}
/******************* CONTACT   ***********************/
.contact,
.content {
  justify-content: center;
  flex-direction: column;
}
.content {
  width: 100%;
}
.content h1 {
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: 600;
  color: var(--text4);
}

.text4 {
  color: var(--button);
  font-weight: 400;
}
.contact-text {
  width: 60%;
}
.container-contact {
  width: 100%;
  justify-content: center;
  margin-top: 1.4rem;
}
.contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contact_h3 {
  margin-bottom: 0.4rem;
}
.box {
  padding: 1rem 0;
  display: flex;
  gap: 2.4rem;
}
.icon {
  min-width: 6.4rem;
  height: 6.4rem;
  background: #fff;
  justify-content: center;
  border-radius: 50%;
  font-size: 2rem;
}

.text2 h3 {
  font-weight: 400;
  color: var(--text4);
}
.contactForm {
  width: 40%;
  padding: 4rem;
  background: #fff;
}
.contactForm h2 {
  font-size: 2.2rem;
  color: #333;
  font-weight: 500;
}
.inputBox {
  position: relative;
  width: 100%;
  margin-top: 0.6rem;
}
.inputBox input,
.inputBox textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 1.8rem;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  resize: none;
}
.inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 1.8rem;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.inputBox input[type="submit"] {
  width: 100px;
  color: var(--body03);
  background-color: var(--button);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 1.2rem;
  transition: ease-in 0.4s;
}

.inputBox input[type="submit"]:hover {
  background: #06535e;
}

/******************* DARK MODE ****************/

.logo-text,
.text,
.prev,
.next,
.content_h1,
.logo-contact,
.copyright,
.logo-text-footer,
.about-head3 {
  color: var(--fontColor1);
}

.list,
.btn3,
.text2,
.span1,
.span2,
.span3,
.donors-text,
.email,
.phone,
.about-text,
.contact-text .text3,
.list-footer,
.openMenu,
.closeMenu,
.share {
  color: var(--fontColor2);
}
.author,
.head {
  color: var(--text4);
}

.donatebtn2,
.donate_read,
.donate_send {
  font-weight: 500;
  color: var(--text3);
}
